#fhm-banner-products-corrugated-brick {
    background: url(../image/banner-products-corrugated-brick-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250px;
}

@media (min-width: 992px) {
    #fhm-banner-products-corrugated-brick {
        background: url(../image/banner-products-corrugated-brick.png);
        min-height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}