#fhm-banner-outstanding-project {
    background: url(../image/banner-outstanding-project-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250px;
}

@media (min-width: 992px) {
    #fhm-banner-outstanding-project {
        background: url(../image/banner-outstanding-project.png);
        min-height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}