#fhm-footer {
    padding-bottom: 157px;
    padding-top: calc(100% - 78%);
    background: url("../image/background-footer.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 75%;
  }
  #fhm-footer .footer-main {
    margin-bottom: 20px;
    margin-top: 100px;
  }
  #fhm-footer .footer-main .footer-element h4 {
    font-size: 15px;
    line-height: 19px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  #fhm-footer .footer-main .footer-element .footer-element-information {
    gap: 45px;
}
  #fhm-footer .footer-main .footer-element ul li,
  #fhm-footer .footer-main .footer-element ul a {
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 9px;
    transition: all 0.5s ease-in-out;
  }
  #fhm-footer .footer-main .footer-element.footer-element-info ul li {
    line-height: 24px;
  }
  #fhm-footer .footer-main .footer-element.footer-element-info {
    position: relative; 
    top: -40px;
  }
  #fhm-footer .footer-main .footer-element.footer-element-info img {
    width: 157px;
    margin-bottom: 25px;
  }
  #fhm-footer .footer-main .footer-element.footer-element-info ul li span {
    font-weight: 500;
    min-width: 25px;
    border-right: 1px solid #D6D6D6;
    padding-bottom: 10px;
  }
  #fhm-footer .footer-main .footer-element.footer-element-info ul li p {
    font-weight: 300;
    padding-bottom: 10px;
  }
  #fhm-footer .footer-main .footer-element ul a:hover {
    text-decoration: underline;
  }
  #fhm-footer .footer-main .footer-social {
    gap: 47px;
  }
  #fhm-footer .footer-end {
    padding-top: 44px;
    border-top: 1px solid #d9d9d9;
  }
  #fhm-footer .footer-end p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
  }

  @media (min-width: 768px) {

  }
  @media (min-width: 992px) {
    #fhm-footer .footer-main .footer-element .footer-element-information {
        gap: 69px;
    }
    #fhm-footer .footer-main .footer-element.footer-element-info {
        padding-right: 58px;
      }
      #fhm-footer .footer-end p {
        font-size: 16px;
      }
      #fhm-footer .footer-main .footer-element ul li,
      #fhm-footer .footer-main .footer-element ul a {
        font-size: 16px;
        line-height: 36px;
      }
  }
  @media (min-width: 1200px) {
    #fhm-footer .footer-main {
        gap: 35px;
    }
  }