#fhm-introduce {
  padding: 108px 0px 0px 0px;
}
#fhm-introduce .introduce-content .introduce-content-left {
  position: relative;
}
#fhm-introduce .introduce-content .introduce-content-left p {
  color: #616161;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 28px;
}
#fhm-introduce .introduce-content .introduce-content-right {
  max-width: 35%;
  position: relative;
}
#fhm-introduce .introduce-content .introduce-content-right p {
  color: #616161;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}
#fhm-introduce .introduce-content .introduce-content-right strong {
  font-weight: 600;
}
.slider-item.circle img {
  clip-path: circle(50% at 50% 50%);
}

#fhm-introduce .swiper-button-next {
  left: -50px;
}
#fhm-introduce .swiper-button-next::after {
  content: none;
}
.introduce-slider-box {
    margin: 15px;
    margin-left: 65px;
    max-width: 1300px;
  }
.introduce-slider-box .slider-item img {
  width: 100%;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  #fhm-introduce .introduce-content .introduce-content-left {
    max-width: 100%;
  }
  .introduce-slider-box {
    margin-left: 90px;  
  }
}
@media (min-width: 992px) {
  #fhm-introduce .introduce-content .introduce-content-left {
    max-width: 50%;
  }
  .introduce-slider-box {
    margin-top: -95px;
    margin-left: calc(50vw - 270px);
  }
  .introduce-slider-box .slider-item {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  #fhm-introduce .introduce-content .introduce-content-left {
    max-width: 33%;
  }

  .introduce-slider-box .slider-item {
    width: 400px;
  }
}
