#fhm-outstanding-project {
  background: #f9f9f9;
  padding: 68px 0px 96px 0px;
}
#fhm-outstanding-project .outstanding-project-slider .swiper-slide {
  /* background: rgba(0, 0, 0, 0.30);
  mix-blend-mode: multiply; */
}
#fhm-outstanding-project .outstanding-project-slider .swiper-slide img {
  display: block;
  width: 100%;  
  height: 100%;
  object-fit: cover;
  filter: brightness(0.75) blur(0px);
  max-width: 370px;
  max-height: 280px;
}
#fhm-outstanding-project .outstanding-project-slider .swiper-button-next::after,
#fhm-outstanding-project
  .outstanding-project-slider
  .swiper-button-prev::after {
  padding: 18px 14px;
  background-color: #fff;
  font-size: 15px;
  color: #969595;
}
.outstanding-project-button {
  margin-top: 53px;
}
.outstanding-project-button a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  display: inline-flex;
  padding: 5px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #269a52;
}

#fhm-outstanding-project .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#fhm-outstanding-project .modal-body {
  position: relative;
  padding: 0px;
}
#fhm-outstanding-project .btn-close {
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 99;
}
#fhm-outstanding-project .video-item::before {
  content: "\25BA"; 
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
#fhm-outstanding-project .swiper-button{
  top: 60%;
  padding: 0px 5px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  width: auto;
}
#fhm-outstanding-project .swiper-button svg{
  width: 10px;
  height: 15px;
}

#fhm-outstanding-project .swiper-button::after{
  content: none;
}
@media (min-width: 768px) {
  #fhm-outstanding-project .swiper-button {
    padding: 14px 18px;
    top: 55%;
  }
  #fhm-outstanding-project .swiper-button-next{
    transform: translateX(50%);
  }
  #fhm-outstanding-project .swiper-button-prev{
    transform: translateX(-50%);
  }
}
