#fhm-product {
    padding: 108px 0px 0px 0px;
}
#fhm-product .product-img img {
    width: 100%;
    clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 100%, 0 8%);
}
#fhm-product .product-content-box {
    position: relative;
    background-color: #FFF;
}
#fhm-product .product-content-box .product-content {
    margin-top: 30px;
}
#fhm-product .product-content-box .product-content h5 {
    margin-bottom: 14px;
}
#fhm-product .product-content-box .product-content h3 {
    margin-bottom: 15px;
    font-size: 33px;
}
#fhm-product .product-content-box .product-content p {
    margin-bottom: 8px;
    color: #616161;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}
#fhm-product .product-content-box .product-content a {
    display: inline-flex;
    padding: 5px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #269A52;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
}

#fhm-product .product-box {
    padding-top: 30px;
}
#fhm-product .product-box span{
    color: #000;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 28px;
    display: block;
}
#fhm-product .product-box .product-box-img img {
    padding: 16px 26px 5px 26px;
}
#fhm-product .product-box .product-box-name {
    padding: 22px 9px 18px 9px;
}
#fhm-product .product-box .product-box-name strong {
    display: block; 
    height: 2em;
    color: #616161;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
#fhm-product .slider-product .swiper-button-next,
#fhm-product .slider-product .swiper-button-prev {
    background: #EEE;
    width: calc(var(--swiper-navigation-size)/ 38 * 41);
    top: calc(100% - 91%);
    /* position: relative; */
}
#fhm-product .slider-product .swiper-button-next:hover,
#fhm-product .slider-product .swiper-button-prev:hover {
    background: #269A52;
}
#fhm-product .slider-product .swiper-button-next {
    /* left: calc(100% - 93%); */
    left: calc(100% - 15%);
}
#fhm-product .slider-product .swiper-button-prev {
    right: calc(100% - 15%);
    left: auto;
}
#fhm-product .slider-product .swiper-button-next::after,
#fhm-product .slider-product .swiper-button-prev::after {
    content: none;
  }
#fhm-product .slider-product .swiper-button-next svg, 
#fhm-product .slider-product .swiper-button-prev svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform-origin: center;
    padding: 0px 10px;
}
#fhm-product .slider-product .swiper-button-next:hover path, 
#fhm-product .slider-product .swiper-button-prev:hover path{
        fill: #FFF;
}
@media (min-width: 576px) {
    #fhm-product .slider-product .swiper-button-next,
#fhm-product .slider-product .swiper-button-prev {
    top: calc(100% - 89%);
    /* position: relative; */
}
    #fhm-product .slider-product .swiper-button-next {
        /* left: calc(100% - 93%); */
        left: calc(100% - 10%);
    }
    #fhm-product .slider-product .swiper-button-prev {
        right: calc(100% - 10%);
        left: auto;
    }
}
@media (min-width: 576px) {
    #fhm-product .slider-product .swiper-button-next,
#fhm-product .slider-product .swiper-button-prev {
    top: calc(100% - 85%);
}
    #fhm-product .slider-product .swiper-button-next {
        left: calc(100% - 10%);
    }
    #fhm-product .slider-product .swiper-button-prev {
        right: calc(100% - 10%);
        left: auto;
    }
}
@media (min-width: 992px) {
    #fhm-product {
        margin-bottom: -258px;
    }
    #fhm-product .product-content-box {
        top: -191px;
        margin-left: calc(100% - 58%);
    }
    #fhm-product .product-content-box .product-content {
        padding: 67px 57px 0px 80px;
    }
    #fhm-product .product-content-box .product-content h3 {
        font-size: 35px;
    }
    #fhm-product .product-box {
        padding: 55px 0px 0px 80px;
    }
    #fhm-product .slider-product .swiper-button-next,
    #fhm-product .slider-product .swiper-button-prev {
        width: calc(var(--swiper-navigation-size)/ 40 * 46);
        top: calc(100% - 60%);
    }
    #fhm-product .slider-product .swiper-button-next {
        left: 0;
    }
    #fhm-product .slider-product .swiper-button-prev {
        right: calc(100% - 12%);
    }
}
@media (min-width: 1200px) {
    #fhm-product .slider-product .swiper-button-next,
    #fhm-product .slider-product .swiper-button-prev {
        top: calc(100% - 57%);
    }
    #fhm-product .slider-product .swiper-button-prev {
        right: calc(100% - 10%);
    }
}