#fhm-quality-panels {
    margin: 90px 0px;
    
}
#fhm-quality-panels .quality-panels-title {
    margin-bottom: 50px;
}
#fhm-quality-panels .quality-panels-title h3 {
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}
#fhm-quality-panels .quality-panels-title span {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}
#fhm-quality-panels .quality-panels-container .quality-panels-content-top {
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 6px;
}
#fhm-quality-panels .quality-panels-container .quality-panels-content-top span {
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
    margin-right: 10px;
}
#fhm-quality-panels .quality-panels-container .quality-panels-content-main p {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    margin-left: calc(100% - 83%)
}
#fhm-quality-panels .quality-panels-container .quality-panels-content-top:hover {
    color:  #269A52;
}
#fhm-quality-panels .quality-panels-container .quality-panels-content-top:hover span {
    border-bottom: 1px solid #269A52;
}

@media (min-width: 992px) {
    #fhm-quality-panels .quality-panels-container .col-lg-6 {
        width: 47.5%;
    }  
    #fhm-quality-panels .quality-panels-container .quality-panels-content-main p {
        margin-left: calc(100% - 85%)
    }
}
@media (min-width: 1200px) {
    #fhm-quality-panels .quality-panels-container .quality-panels-content-main p {
        margin-left: calc(100% - 88%)
    }
}