@import "./homepage.css";
@import "./banner.css";
@import "./menu.css";
@import "./introduce.css";
@import "./news.css";
@import "./outstanding-project.css";
@import "./product.css";
@import "./map.css";
@import "./banner-introduce.css";
@import "./detail-introduction.css";
@import "./table-introduction.css";
@import "./banner-accreditation.css";
@import "./certificate.css";
@import "./quality-panels.css";
@import "./banner-product-romatic.css";
@import "./product-characteristics.css";
@import "./color-table.css";
@import "./specifications.css";
@import "./tile-accessories.css";
@import "./installation-location.css";
@import "./footer.css";

body {
    font-family: 'Inter', sans-serif;
    color: #000;
    font-style: normal;
    line-height: normal;
}

a {
    color: #000;
    text-decoration: none
}
ul {
    list-style-type: none;
}

h3 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 70px;
    text-transform: capitalize;
    margin-bottom: 52px;
}
h5 {
    color: #ED1C24;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 14px;
}
p {
    text-align: justify;
}

.title-button {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    display: inline-flex;
    padding: 5px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #269a52;
}
@media (min-width: 992px) {
    h3 {
        font-size: 36px;
    }
    h5 {
        font-size: 12px;
    }
    .title-button {
        font-size: 12px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1160px;
    }
}