@import "./homepage.css";
@import "./banner.css";
@import "./introduce.css";
@import "./news.css";
@import "./outstanding-project.css";
@import "./product.css";
@import "./footer.css";

body {
    font-family: 'Inter', sans-serif;
    color: #000;
    font-style: normal;
    line-height: normal;
}

a {
    color: #000;
    text-decoration: none
}
ul {
    list-style-type: none;
}

h3 {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 70px;
    text-transform: capitalize;
    margin-bottom: 52px;
}
h5 {
    color: #ED1C24;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 14px;
}
@media (min-width: 576px) {
    
}
@media (min-width: 768px) {
    
}
@media (min-width: 992px) {
    
}
@media (min-width: 1200px) {
    .container {
        max-width: 1160px;
    }
}
@media (min-width: 1400px) {
    
}